*,
body {
  margin: 0;
  padding: 0;
  width: 80%;
  margin: auto;
}




.layout{
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.retorno-img{
  width: 100%;
}
.retorno-img img{
  width: 50px;
  height: 50px;
}
.layout-img {
  width: 50%;
}
.layout-img img {
  border-radius: 20%;
  border: 1px solid black;
  box-shadow: 9px 9px 0px 0px rgba(39,70,176,0.93);
  -webkit-box-shadow: 9px 9px 0px 0px rgba(39,70,176,0.93);
  -moz-box-shadow: 9px 9px 0px 0px rgba(39,70,176,0.93);
 
 
 }
.layout-txt {
   width: 50%; 


}
.layout-txt h1  {
    margin-bottom: 20px;
    width: 100%;
}
.layout-txt p  {
    margin-bottom: 20px;
    width: 100%;
}

